body {
    font-family: sans-serif;
}

header {
    background-color: navy;
    padding: 20px;
    width: 1100px;
}

header a {
    color: black;
    background-color: white;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    margin: 30px;
}

header img {
    width: 200px;
    height: 60px;
}

.sp_button {
    background-color: #2adede;
    border: 1px solid #2adede;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-weight: normal;
    border-bottom: 2px solid navy;
    padding-bottom: 5px;
    width: 1100px;
}

h2 {
    color: blueviolet;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 50px;
}

.posts {
    display: flex;
    justify-content: space-around;
    width: 1100px;
}

article {
    font-size: 20px;
    padding: 20px;
    width: 800px;
    margin: 20px;
    border: 1px solid navy;
    border-radius: 15px;
    text-align: center;
}

article img {
    height: 150px;
    width: 200px;
}

.page {
    width: 80px;
    position: relative;
    bottom: 100px;
}

.nb_news {
    background-color: navy;
    color: white;
}

footer {
    background-color: #8fddf2;
    padding: 10px;
    width: 1100px;
}

footer p {
    background-color: white;
    padding: 5px;
}

.post:hover {
    box-shadow:5px 5px 5px 0px navy;
    box-shadow:0px 5px 5px 5px navy;
}
